<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Machine Learning</h1>
    <h2>¿Que es?</h2>
    <p>Machine Learning  es una parte de la inteligencia artificial que permite que las computadoras aprendan de los datos y mejoren sus resultados sin que una persona tenga que programar cada paso. Se usa, por ejemplo, para reconocer imágenes, recomendar videos, detectar fraudes y hacer predicciones.</p>
    <h2>Tipos de Machine Learning</h2>
    <h3>Existen tres tipos de aprendizaje automático: </h3>
    <ul>
   <li> <p>Aprendizaje supervisado: la máquina aprende con datos que ya tienen respuestas.</p></li>
    <li><p>Aprendizaje no supervisado: la máquina busca patrones en los datos sin tener respuestas dadas.</p></li>
   <li> <p>Aprendizaje por refuerzo: la máquina aprende mediante prueba y error, recibiendo recompensas o castigos.</p></li>
<a href="/" style="display:inline-block; padding:10px 20px; background:#007BFF; color:white; text-decoration:none; border-radius:5px;">
  Volver al Menú
</a>

    </ul>
   
</body>
</html>